nav {
	border-radius: 20px;
	background-color: #52BE80;
	display: flex;
	flex flex-wrap: wrap;
	transition: width 2s;
}

nav a {
	text-decoration: none;
	display: block;
	padding: 0px;s
	font-size: 22px;
	text-align: center;
	float: center;
	background-color: #52BE80;
	color: black;
	margin-left: 80px;
	font-weight: bold;
	font-family: sans-serif;
	line-height: 70px;
	width: 135px;
}

nav a:hover {
	background-color: #52BE80;
	color: yellow;
}


body {
	background-image: url('https://t3.ftcdn.net/jpg/00/78/09/34/360_F_78093476_H8etALIbyzl693MkIWauae7o6EGhEbLM.jpg');
	background-repeat: none;
	background-size: 121%;
}

.ELEM {
	width: 15%;
	height: 15%;
	margin-top: 30px;
	margin-left: 570px;
	border-radius: 10px;
	border: 2px solid black;
}

.A {
	text-shadow: 2px 2px 5px red;
	color:  #52BE80;
	margin-left: 515px;
	font-size: 50px;
}

.B {
	margin-top: 20px;
	font-family:  "Times New Roman", Times, serif;
	font-size: 30px;
	border: solid black;
	background-color: #84e184;
	border-radius: 10px;
}

.DMS{
	width: 20em;

}


.JHS {
	width: 25%;
	height: 30%;
	margin-top: 30px;
	margin-left: 510px;
	border-radius: 10px;
	border: 2px solid black;
}
.C {
	text-shadow: 2px 2px 5px red;
	color:  #52BE80;
	margin-left: 425px;
	font-size: 50px;
}

.D {
	margin-top: 20px;
	font-family:  "Times New Roman", Times, serif;
	font-size: 30px;
	border: solid black;
	background-color: #84e184;
	border-radius:10px;
}

.SHS {
	width: 20%;
	height: 20%;
	margin-top: 30px;
	margin-left: 550px;
	border-radius: 10px;
	border: 2px solid black;
}

.E {
	text-shadow: 2px 2px 5px red;
	color:  #52BE80;
	margin-left: 425px;
	font-size: 50px;
}

.F {
	margin-top: 20px;
	font-family:  "Times New Roman", Times, serif;
	font-size: 30px;
	border: solid black;
	background-color: #84e184;
	border-radius: 10px;
}

.ABT {
	width: 40%;
	height: 40%;
	margin-top: 30px;
	margin-left: 400px;
}

.G {
	text-shadow: 2px 2px 5px red;
	color:  #52BE80;
	margin-left: 325px;
	font-size: 30px;
}

.Oten {
	margin-right: 600px;
	margin-left: 525px;
	margin-top: 20px;
	font-family:  "Times New Roman", Times, serif;
	font-size: 30px;
	border: solid black;
	background-color: #84e184;
	border-radius: 10px;
}

.Cntct {
	width: 30%;
	height: 30%;
	margin-top: 30px;
	margin-left: 470px;	
	border-radius: 10px;
	border: 2px solid black;
}

.K {
	text-shadow: 2px 2px 5px red;
	color:  #52BE80;
	margin-left: 475px;
	font-size: 40px;
 	border-radius: 20px;
}

.AD{
	border-radius: 20px;
	margin-top: 50px;
	margin-right: 350px;
	margin-left: 350px;
	font-size: 30px;
	text-align: center;
	border: 2px solid black;
	background-color: #84e184;
}

.L {
	border: solid black;
	background-color: #84e184;
	border-radius: 20px;
	margin-right: 350px;
	margin-left: 350px;
	border: solid 2px;
	font-size: 30px;
}

.M {
	border: solid black;
	background-color: #84e184;
	border-radius: 20px;
	border: solid 2px;
	margin-right: 350px;
	margin-left: 350px;
	font-size: 30px;
}

.heading{
	text-shadow: 2px 2px 5px red;
	text-align: center;
	font-size: 60px;
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 40px;
	margin-bottom: 40px;
	font-family: Helvetica;
	color:  #52BE80;
}

.My{
	text-shadow: 2px 2px 5px yellow;
	color: #003300;	
}

.DM{
		width: 30%;
		height: 30%;
		margin-left: 40px;
		border: 2px solid;
		border-radius: 200px;
}

.BM{
		width: 20%;
		height: 30%;
		margin-left: 100px;
		border: 2px solid;
		border-radius: 200px;
}

.AB{
		width: 20%;
		height: 30%;
		border: 2px solid;
		margin-left: 150px;
		border-radius: 200px;
}

table{
	border: 2px solid;
	width: 90%;
	height: 30%;
	margin-left: 70px;
	margin-right: 10px;
	background-color:  #52BE80;
	border-radius: 10px;
}

th{
	text-align: center;
	font-size: 35px;
	border: 2px solid;
	background-color: #EC7063 ;
	border-radius: 100px;
}

td{
	text-align: center;
	font-size: 23px;
	border: 1px solid;
	background-color: #EC7063 ;
	border-radius: 50px;
}

.C4{
	width: 700px;
	height: 425px;
	margin-left: 350px;
	margin-top: 50px;

}

.carousel-item{
	border: solid 2px;
	background-color:black; 
	margin-top: 1px;
	margin-left: 355px;
	margin-bottom: 75px;
	width: 50%;
	height: 50%;
}

.alb{
	text-shadow: 2px 2px 5px red;
	text-align: center;
	font-size: 60px;
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 40px;
	margin-bottom: 20px;
	font-family: Helvetica;
	color:  #52BE80;
}

.aud{
	display: none;
}

